/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@100;400;700&display=swap');


/* ROOT VARIABLES */

:root {
  --color-table: #FF7773;
  --color-red: #F05A55;
  --color-black:#404041;
  --color-back:#FFD754;
  --color-grey:#C7B1C9;
  --color-lighter-grey: #F0D5F2;
  --color-darker-grey:#958496;
  }

/* GENERAL DOCUMENT PROPERTIES */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--color-table);
  color: white;
}

li {
  list-style: none;
}

p {
  font-size: 1.25rem;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* SPECIFIC */

/* TO COMPLETE */

.container {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
}

.title {
  margin-top: 1rem;
  font-size: 3.5rem;
  color: var(--color-darker-grey);
  text-align: center;
}

.house-message {
  min-height: 2rem;
  margin-top: -4rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: var(--color-darker-grey)
}

.hand {
  position: relative;
  width: 50%;
  height: 10rem;
  margin-left: -20%;
  padding-right: 5rem;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.hand--player-0 {
  margin-top: -5rem;
}

.hand--player-1 {
  margin-bottom: 3.3rem;
}

.hand__sums-display {
  min-width: 3rem;
  height: 3rem;
  padding: 3px 6px 3px 6px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
  line-height: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-darker-grey);
  background-color: var(--color-lighter-grey);
  display: none;
}

.hand__cards-stack {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 3rem;
}

.hand__card {
  position: relative;
  width: 3.9rem;
  margin-right: -10px;
  overflow: hidden;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hand__card:last-child {
  overflow: visible;
}

.hand__card--received {
  
}

.hand__card--discarded {
  
}

.hand__card-content {
  position: relative;
  width: 7rem;
  height: 100%;
  display: flex;
  justify-content: start;
  padding: 5px;
  border-radius: 15px;
  border: 6px solid white;
}

.hand__card-flex {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline; 
}

.hand__card-data {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.hand__card--red {
  color: white;
  background-color: var(--color-red);
}

.hand__card--black {
  color: white;
  background-color: var(--color-black);
}

.hand__card--back {
  color: transparent;
  background-color: var(--color-back);
}

.interface {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20%;
  height: 30%;
}

.btn {
  position: absolute;
  left: 0;
  height: 3rem;
  width: 10rem;
  padding: 3px 6px 3px 6px;
  border-radius: 1.5rem;
  border: 2px solid var(--color-grey);
  font-size: 1.7rem;
  color: var(--color-darker-grey);
  background-color: white;
  text-align: center;
  display: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-lighter-grey);
}

.btn--hit {
  top: 2rem;
}

.btn--stand {
  top: 50%;
  transform: translateY(-50%);
}

.btn--deal {
  bottom: 2rem;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 11%;
  color: white;
}


.footer__link {
  text-decoration: underline;
}
