/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@100;400;700&display=swap');


/* ROOT VARIABLES */

:root {
  --color-table: #FF7773;
  --color-red: #F05A55;
  --color-black:#404041;
  --color-back:#FFD754;
  --color-grey:#C7B1C9;
  --color-lighter-grey: #F0D5F2;
  --color-darker-grey:#958496;
  }

/* GENERAL DOCUMENT PROPERTIES */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--color-table);
  color: white;
}

li {
  list-style: none;
}

p {
  font-size: 1.25rem;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (max-height: 650px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 10px;
  }
}

@media (max-height: 500px) {
  html {
    font-size: 10px;
  }
}

/* TABLE LAYOUT */

.container {
  position: relative;
  width: 80%;
  max-width: 70rem;
  height: 80%;
  top: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
}

.title {
  margin-top: 1rem;
  font-size: 3.5rem;
  color: var(--color-darker-grey);
  text-align: center;
}

.house-message {
  min-height: 2rem;
  max-width: 90%;
  margin-top: -4rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: var(--color-darker-grey)
}

.hand {
  position: relative;
  width: 50%;
  height: 10rem;
}

.hand--player-0 {
  margin-top: -5rem;
}

.hand--player-1 {
  margin-bottom: 3.3rem;
}

@media (max-height: 800px) {
  .house-message {
    margin-top: 1rem;
  }

  .hand--player-0 {
    margin-top: -1rem;
  }
  .hand--player-1 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 950px) {
  .house-message {
    margin-top: -1rem;
  }
  .hand--player-0 {
    margin-top: -2rem;
  } 
  .hand--player-1 {
    margin-bottom: 7rem;
  }
}

@media (max-width: 600px) {
  .house-message {
    font-size: 1.75rem;
    margin-top: -2rem;
  }
  .hand {
    height: 13rem;
  }
  .hand--player-1 {
    margin-bottom: 10rem;
  }
}

@media (max-height: 650px) {
  .house-message {
    font-size: 1.75rem;
    margin-top: -1rem;
  }
  .hand {
    height: 11rem;
  }
  .hand--player-0 {
    margin-top: -1rem;
  } 
  .hand--player-1 {
    margin-bottom: 5rem;
  }
}

@media (max-width: 450px) {
  .house-message {
    margin-top: 1rem;
  }
  .hand {
    width: 90%;
  }
  .hand--player-0 {
    margin-top: -2rem;
  }
}

@media (max-height: 500px) {
  .house-message {
    margin-top: 1rem;
  }
  .hand {
    width: 50%;
  }
  .hand--player-0 {
    margin-top: 1rem;
  }
  .hand--player-1 {
    margin-bottom: 0.5rem;
  }
}

/* HAND */

.hand__sums-display {
  position: absolute;
  top: 5%;
  left: -25%;
  max-width: 3rem;
  padding: 3px 6px 3px 6px;
  border-radius: 8px;
  line-height: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-darker-grey);
  background-color: var(--color-lighter-grey);
  display: none;
}

.hand__cards-stack {
  position: absolute;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 3rem;
}

.hand__card {
  position: relative;
  width: 3.9rem;
  margin-right: -10px;
  overflow: visible;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hand__card--received {
  animation: receive-card 500ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes receive-card {
  from {
		transform: scaleX(0);
    opacity: 0.9;
	}
	to {
		transform: scaleX(1);
    opacity: 1;
	}
}

.hand__card--discarded {
  animation: discard-card 500ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes discard-card {
  from {
		transform: scaleX(1);
    opacity: 1;
	}
	to {
		transform: scaleX(0);
    opacity: 0.8;
	}
}

.hand__card-content {
  position: relative;
  width: 7rem;
  height: 100%;
  display: flex;
  justify-content: start;
  padding: 5px;
  border-radius: 15px;
  border: 6px solid white;
}

.hand__card-flex {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline; 
}

.hand__card-data {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.hand__card--red {
  color: white;
  background-color: var(--color-red);
}

.hand__card--black {
  color: white;
  background-color: var(--color-black);
}

.hand__card--back {
  color: transparent;
  background-color: var(--color-back);
}

@media (max-width: 850px) {
  .hand__sums-display {
    left: -35%;
  }
}

@media (max-width: 600px) {
  .hand__sums-display {
    top: 10%;
  }
  .hand__cards-stack {
    margin-left: 0;
  }
  .hand__card {
    width: 5rem;
  }
  .hand__card-content {
    width: 9rem;
  }
}

@media (max-width: 450px) {
  .hand__sums-display {
    left: 50%;
    bottom: -20%;
    top: auto;
    max-width: 10rem;
    transform: translateX(-50%);
  }
  .hand__card {
    width: 6rem;
  }
}

@media (max-height: 500px) { 
  .hand__sums-display {
    font-size: 2.5rem;
    max-width: 5rem;
    line-height: 2.5rem;
  }
  .hand__cards-stack {
    margin-left: 0;
  }
  .hand__card {
    width: 6.5rem;
  }
  .hand__card-content {
    width: 8rem;
    padding: 3px;
  }
}

/* INTERFACE */

.interface {
  position: absolute;
  bottom: 1rem;
  right: 10%;
  width: 20%;
  height: 35%;
}

.btn {
  position: absolute;
  left: 0;
  height: 3rem;
  width: 10rem;
  padding: 3px 6px 3px 6px;
  border-radius: 1.5rem;
  border: 2px solid var(--color-grey);
  font-size: 1.7rem;
  color: var(--color-darker-grey);
  background-color: white;
  text-align: center;
  display: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-lighter-grey);
}

.btn--hit {
  top: 2rem;
}

.btn--stand {
  top: 50%;
  transform: translateY(-50%);
}

.btn--deal {
  bottom: 2rem;
  display: block;
}

@media (max-height: 750px) {
  .interface {
    height: 55%;
  }
}

@media (max-width: 950px) {
  .interface {
    bottom: 1rem;
    left: 10%;
    width: 80%;
    height: 10%;
  }

  .btn {
    top: 0;
    height: 3.3rem;
  }
  
  .btn--hit {
    left: 0;
  }
  
  .btn--stand {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .btn--deal {
    right: 0;
    left: auto;
  }
}

@media (max-width: 750px) {
  .interface {
    bottom: 0.5rem;
  }

  .btn {
    height: 4rem;
  }
  
  .btn--stand {
    right: 0;
    left: auto;
    transform: none;
  }
  
  .btn--deal {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

@media (max-height: 500px) {  
  .interface {
    bottom: 1rem;
    right: 5%;
    left: auto;
    width: 20%;
    height: 50%;
  }

  .btn {
    left: 0;
    right: auto;
    height: 3rem;
  }

  .btn--hit {
    top: 0;
    bottom: auto;
  }

  .btn--stand {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .btn--deal {
    bottom: 2rem;
    top: auto;
    transform: none;
  }
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 11%;
  color: white;
}


.footer__link {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer__text,
  .footer__link, 
  a {
    font-size: 1.4rem;
  }
}
